// Global
$topBarHeight: 7rem;
//$sidebarBackgroundColor: rgb(40, 51, 65);
$sidebarBackgroundColor: #2b2b2b;
$teamMemberBackgroundColor: #5e5e5e;
$sidebarBoxShadow: -2rem 0 2rem 2rem rgba(0, 0, 0, 0.45);
