h1 {
  font-size: 5rem;
  font-weight: 500;
}
h2 {
  font-size: 4rem;
  font-weight: 500;
}
h3 {
  font-size: 3rem;
  font-weight: 500;
}
h4 {
  font-size: 2rem;
  font-weight: 400;
}
hr {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  &.light {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.button {
  border: 1px solid black;
  color: black;
  border-radius: 1rem;
  padding: 1rem;
  &:focus {
    outline: 0;
  }
  &:hover {
    opacity: 0.6;
  }
  &--white {
    border-color: white;
    color: white;
  }
  &--grey {
    border-color: #999;
    color: #999;
    &--solid {
      background-color: #ccc;
      color: black;
    }
  }
}
button {
  &:focus {
    outline: 0;
  }
  &[disabled] {
    opacity: 0.4;
    pointer-events: none;
    cursor: default;
  }
}
input {
  height: 3rem;
  border: 0;
  padding: 0.5rem 1.5rem;
  line-height: 2rem;
  caret-color: rgba(0, 0, 0, 0.6);
  &.round {
    border-radius: 1.5rem;
  }
  &:focus {
    outline: 0;
  }
}

.form-input {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  margin: 3rem 0;
  width: 100%;
  & input {
    border: 0;
    width: 100%;
    border-bottom: 2px solid #dbdbdb;
    caret-color: rgba(0, 0, 0, 0.6);
  }
  & input.round {
    border: none;
    &:focus,
    &:valid {
      border: none;
    }
  }
  & input:focus ~ label,
  & input:valid ~ label {
    transform: translate(0, -2.5rem);
    color: #4040dd;
    font-size: 1.2rem;
  }

  & input:focus,
  & input:valid {
    border-bottom: 2px solid #4040dd;
  }

  & label,
  & span.note {
    pointer-events: none;
    position: absolute;
    color: #999;
    left: 1rem;
  }

  & label {
    top: 0;
    line-height: 3rem;
    transform: translate(0, 0);
    transition: 320ms transform linear;
  }

  & span.note {
    top: 3.5rem;
    font-size: 1.2rem;
    &--error {
      color: red;
    }
  }
}

// /* Color Theme Swatches in Hex */
// $Colorful-sprinkles-on-bottom-of-green-background-1-hex: #f20587;
// $Colorful-sprinkles-on-bottom-of-green-background-2-hex: #96d9c6;
// $Colorful-sprinkles-on-bottom-of-green-background-3-hex: #f2b705;
// $Colorful-sprinkles-on-bottom-of-green-background-4-hex: #f25c05;
// $Colorful-sprinkles-on-bottom-of-green-background-5-hex: #f23d3d;

// /* Color Theme Swatches in Hex */
// $Entrevista-Motivacional-Dr-1-hex: #8a14d9;
// $Entrevista-Motivacional-Dr-2-hex: #555bd9;
// $Entrevista-Motivacional-Dr-3-hex: #4183d9;
// $Entrevista-Motivacional-Dr-4-hex: #1eb7d9;
// $Entrevista-Motivacional-Dr-5-hex: #0bd9d9;

// /* Color Theme Swatches in Hex */
// $Foco-2-1-hex: #033859;
// $Foco-2-2-hex: #024959;
// $Foco-2-3-hex: #037f8c;
// $Foco-2-4-hex: #03a696;
// $Foco-2-5-hex: #038c7f;
